.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.content-container {
	display: flex;
	flex: 1;
}

.table-container {
	width: 30%;
	overflow-y: auto;
	padding: 10px;
	border-right: 1px solid #ddd;
}

.map-container {
	width: 100%;
	position: relative;
}

.mapbox-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.data-table-container {
	display: flex;
	flex-direction: column;
	height: 100%; /* Take full height of parent */
	overflow: hidden; /* Prevent overflow at container level */
}

.data-table-scroll {
	overflow-y: auto; /* Enable vertical scrolling */
	max-height: calc(100vh - 130px); /* Adjust based on your header/margins */
	padding-right: 10px; /* Gives space for the scrollbar */
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
